<form
  class="mt-4"
  name="container-form"
  method="POST"
  action="/courses/handle-form-actions"
>
  <div>
    <h3 class="mb-4">BÁO CÁO DOANH THU</h3>

  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">
          Mã đơn hàng
          {{{sortable "_id" _sort}}}
        </th>
        <th scope="col">
          Nội dung đơn hàng
          {{{sortable "address" _sort}}}
        </th>
        <th scope="col">
          Ngày mua
          {{{sortable "date" _sort}}}
        </th>
        <th scope="col">
          SĐT
          {{{sortable "phoneNumber" _sort}}}
        </th>
        <th scope="col">
          Số lượng
          {{{sortable "totalQty" _sort}}}
        </th>
        <th scope="col">
          Số tiền
          {{{sortable "totalPrice" _sort}}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="courseIds[]"
                value="{{this._id}}"
              />
            </div>
          </td>
          <td scope="row">{{sum @index 1}}</td>
          <td>{{this._id}}</td>
          <td>{{this.address}}</td>
          <td>{{this.date}}</td>
          <td>{{this.phoneNumber}}</td>
          <td>{{this.cart.totalQty}} khoá học</td>
          <td>{{this.cart.totalPrice}} VND</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Không tìm thấy thông tin.
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{! handle totalPrice }}
  {{! <div>TỔNG DOANH THU:
  </div> }}
</form>